<div class="all-post-div">
    <div class="post-div">
      <p><strong>Post #1</strong></p>
      <h3><%= @user.posts.last.title %></h3>
      <p> <%= @user.posts.last.text %> </p>
      <span>Comments <%= @user.posts.last.comments_counter %> Likes <%= @user.posts.last.likes_counter %></span>
    </div>
</div>