<div class="all-post-div">
    <div class="post-div">
      <p><strong>Post #1</strong></p>
      <h3><%= post.title %></h3>
      <p> <%= post.text %> </p>
      <span>Comments <%= post.comments_counter %> Likes <%= post.likes_counter %></span>
    </div>
</div>