<%= link_to(user) do %>
<div class="user-div">
  <div class="photo-div">
    <img src="<%= user.photo %>">
  </div>
  <div class="user-details-div">
    <h2 class="user-name-h2"><%= user.name %></h2>
    <span class="user-posts-details">Number of posts <%= user.posts_counter %></span>
  </div>
</div>
<% end %>